@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// MIXIN TO CENTER ABSOLUTE POSITIONED ELEMENTS
@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// SCROLLBAR MIXIN
@mixin scrollbar-settings($width, $track-color, $thumb-color, $thumb-border-color) {
    ::-webkit-scrollbar {
        width: $width;
    }

    ::-webkit-scrollbar-track {
        background-color: $track-color;
    }

    ::-webkit-scrollbar-thumb {
        background: $thumb-color;
        border-radius: 100vw;
        border: .3rem solid $thumb-border-color;
    }
}

// MEDIA QUERY MANAGER
/*
0 - 600px:         Phone
600px - 900px:     Tablet portrait
900px - 1200px:    Tablet landscape
1200px - 1800px:   Normal styles
1800px+ :          Big desktop
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };      // 600px
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };       // 900px
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };      // 1200px
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };      // 1800px
    }
}
