.navigation {
    // styles for the navigation menu and button
    // using the checkbox hack to open nav menu when button is clicked using pure css
    &__checkbox {
        // not displaying the checkbox input
        display: none;
    }

    &__button {
        // styles for the nav button, fixed to the same position on the page
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        z-index: 2000;
        cursor: pointer;

        // change position of button on smaller devices
        @include respond(tab-port) {
            top: 4rem;
            right: 4rem;
        }

        @include respond(phone) {
            top: 3rem;
            right: 3rem;
        }
    }

    &__background {
        // styles for the background of the open nav menu, which animates to fill the screen when the menu is opened, initial position and size is behind the button
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;
        transition: transform .8s cubic-bezier(0.85, 0, 0.15, 1);

        // change initial position of background on smaller devices
        @include respond(tab-port) {
            top: 4.5rem;
            right: 4.5rem;
        }

        @include respond(phone) {
            top: 3.5rem;
            right: 3.5rem;
        }
    }

    // styles for the nav menu
    &__nav {
        height: 100vh;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: 1500;

        opacity: 0;
        transition: all .8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    &__list {
        @include absolute-center;

        width: 100%;
        list-style: none;
        text-align: center;
    }

    &__item {
        margin: 1.5rem;
    }

    &__link {
        // styles for the nav links, have solid gradient applied to them originally out of view
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            padding: 1rem 2rem;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 230%;
            transition: all .4s;
        }

        &:hover,
        &:active {
            // when hovered, animate the solid gradient in
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }

    &__icon {
        font-size: 3rem;
        margin-right: 1.5rem;
    }

    // functionality of the navigation
    &__checkbox:checked ~ &__background {
        // animate the background to fill the entire screen when the checkbox is checked
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        // set the opacity of the nav so it is visible
        opacity: 1;
        width: 100%;
    }

    &__burger {
        // styles for the burger icon inside the button
        position: relative;
        margin-top: 3.4rem;

        &,
        &::before,
        &::after {
            display: inline-block;
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
            transition: all .4s;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
        }

        &::before { top: -.8rem; }
        &::after { top: .8rem; }
    }

    // animate the burger icon when the button is hovered
    &__button:hover &__burger::before {
        transform: translateY(-.3rem);
    }

    &__button:hover &__burger::after {
        transform: translateY(.3rem);
    }

    // set the burger icon to look like a cross when the button is clicked and the checkbox is checked
    &__checkbox:checked + &__button &__burger {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__burger::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__burger::after {
        top: 0;
        transform: rotate(-135deg);
    }
}
