.bg-video {
    // setting the background video to cover the whole section and be placed behind all content of the section
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .15;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
