.btn {
    &,
    &:link,
    &:visited {
        // styles for the btn link and visited state
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: $border-radius-button-large;
        transition: all .2s ;
        position: relative;
        font-size: $default-font-size;
        width: fit-content;

        // changing defaults of <button> element
        border: none;
        cursor: pointer;
    }

    &:hover {
        // adding some animations on the y axis and the after psuedo element to the btn when hovered
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        // styles for when the btn is being clicked or activated
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba($color-black, .2);
    }

    &::after {
        // styles for the after psuedo element of the btn
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: $border-radius-button-large;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--white {
        // white modifier class to btn
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &--green {
        // green modifier class to btn
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

    &--animated {
        // modifier class to btn, applies fade in animation when loaded
        animation: fadeInBottom 1s ease-out .75s;
        animation-fill-mode: backwards;
    }


    &-text {
        // different btn style, btn-text, mainly used at the end of the sections
        margin-top: 1.5rem;
        border: 1px solid transparent;

        &:link,
        &:visited {
            // styles for the link and visited state of btn-text
            color: $color-white;
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            font-size: $default-font-size;
            padding: 1rem 2.5rem;
            background-color: $color-primary;
            border-radius: $border-radius-button-small;
            transition: all .3s ease-in-out;
        }

        &:hover {
            // styles for the hover state of btn-text
            color: $color-primary;
            background-color: transparent;
            border: 1px solid $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .15);
            transform: translateY(-.5rem);
        }

        &:active {
            // styles for the active state of btn-text
            box-shadow: 0 .5rem 1rem rgba($color-black, .15);
            transform: translateY(0);
        }
    }
}
