.card {
    // setting the card to have a fixed height and perspective
    position: relative;
    height: 52rem;
    perspective: 150rem;
    -moz-perspective: 150rem;

    &__side {
        // styles for the sides of the card element, each side has a hidden backface-visibilty so the other side of the card is not visible when not in view
        height: 52rem;
        width: 100%;
        backface-visibility: hidden;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: $border-radius;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        overflow: hidden;

        &--front {
            // styles for the front side of the card
            background-color: $color-white;
        }

        &--back {
            // styles for the back side of the card, initially set to be rotated -180deg so not in view
            transform: rotateY(-180deg);

            // different color styles for each card
            &-1 {
                background-image: linear-gradient(to right bottom,
                    $color-secondary-light,
                    $color-secondary-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom,
                    $color-primary-light,
                    $color-primary-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom,
                    $color-tertiary-light,
                    $color-tertiary-dark);
            }
        }
    }

    // when card is hovered, rotate the front side of the card 180deg, then rotate the back side so it is in view
    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    // FRONT SIDE ELEMENT STYLES
    &__picture {
        // styles for the picture on the front side of the card
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        // different images and colors for each card
        &--1 {
            background-image: linear-gradient(to right bottom,
                $color-secondary-light,
                $color-secondary-dark),
                    url(../../img/nat-5.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom,
                $color-primary-light,
                $color-primary-dark),
                    url(../../img/nat-6.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right bottom,
                $color-tertiary-light,
                $color-tertiary-dark),
                    url(../../img/nat-7.jpg);
        }
    }

    &__heading {
        // styles for the heading of each card
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
    }

    &__heading-span {
        // span element within heading, if length of content is too long it will break onto a new line and keep the same styling
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        // different gradient for each card
        &--1 {
            background-image: linear-gradient(to right bottom,
                rgba($color-secondary-light, .85),
                rgba($color-secondary-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom,
                rgba($color-primary-light, .85),
                rgba($color-primary-dark, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom,
                rgba($color-tertiary-light, .85),
                rgba($color-tertiary-dark, .85));
        }
    }

    &__details {
        // styles for the list of details of each tour
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }

    // BACK SIDE ELEMENT STYLES
    &__cta {
        // styles for the call to action button
        @include absolute-center;

        width: 90%;
        text-align: center;
    }

    // styles for the price description of each tour
    &__price-box {
        text-align: center;
        margin-bottom: 8rem;
        color: white;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }

    // MAKING CARDS RESPONSIVE
    @media only screen and (max-width: 56.25em),
        only screen and (hover: none) {
        // removing the hover functionality of card and placing the content on the back side below the front side content instead
        height: auto;
        border-radius: $border-radius;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &__side {
            height: auto;
            position: relative;
            box-shadow: none;

            &--back {
                transform: rotateY(0);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            }
        }

        &:hover &__side--front {
            transform: rotateY(0);
        }

        &__details {
            padding: 1rem 3rem;
        }

        &__cta {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem 4rem;
        }

        &__price-box {
            margin-bottom: 3rem;
        }

        &__price-value {
            font-size: 5rem;
        }
    }
}
