.popup {
    // fixed blurred background behind the popup itself
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .3);
    backdrop-filter: blur(3px);
    z-index: 3000;

    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    // styles for the popup
    &__content {
        @include absolute-center;

        width: 110rem;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        overflow: hidden;

        display: flex;

        opacity: 0;
        transform: translate(-50%, -50%) scale(.5);
        transition: all 1s .2s;

        // change width and flex direction on smaller devices
        @include respond(tab-land) {
            flex-direction: column;
            width: 90rem;
        }

        @include respond(tab-port) {
            flex-direction: column;
            width: 70rem;
        }

        @include respond(phone) {
            flex-direction: column;
            width: 40rem;
        }
    }

    &__left {
        // styles for the left section of the popup containing the images
        width: 33.333333%;
        display: flex;
        flex-direction: column;

        @include respond(tab-land) {
            // change flex direction and width on device width <= 1200px
            flex-direction: row;
            width: 100%;
        }

        @include respond(phone) {
            // do not display this section on phone devices
            display: none;
        }
    }

    &__right {
        // styles for the right section of popup containing the main content
        width: 66.666667%;
        padding: 3rem 5rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        // change layout of content on smaller device widths
        @include respond(tab-land) {
            width: 100%;
            align-items: center;
        }

        @include respond(phone) {
            width: 100%;
            text-align: center;
        }
    }

    &__img {
        // styles for the img elements in the left section
        display: block;
        width: 100%;

        @include respond(tab-land) {
            float: left;
            width: 50%;
        }

        @include respond(phone) {
            display: none;
        }
    }

    &__text {
        // styles for the text within the right section
        font-size: 1.4rem;

        // mixin for the text structure
        @include text-column(2, 4rem, $color-grey-light-2);
        // mixin to add hyphenation
        @include hyphens;

        @include respond(phone) {
            // remove text column structure and align all text to center on device width <= 600px
            @include text-column(auto, 0, 0);

            text-align: center;
        }
    }

    // styles for when the popup is opened
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        // animation for the popup when being opened
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        // styles for the close link which closes the popup
        &:link,
        &:visited {
            display: inline-block;
            color: $color-grey-dark;
            position: absolute;
            top: 3.5rem;
            right: 4.5rem;
            font-size: 4rem;
            text-decoration: none;
            transition: all .2s;

            @include respond(phone) {
                right: 2.5rem;
                top: 2rem;
            }
        }

        &:hover {
            color: $color-primary;
        }
    }
}
