.story {
    // whole story is skewed on the x axis
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .6);
    border-radius: $border-radius;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);
    position: relative;

    @include respond(tab-port) {
        // remove skew and change width and padding on device width <= 900px
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
        transform: skewX(0);
    }

    & > * {
        // apply a counter skew to every element within the story
        transform: skewX(12deg);

        @include respond(tab-port) {
            // remove skew on device width <= 900px
            transform: skewX(0);
        }
    }

    &__shape {
        // adding a circle shape with a shape outside property to make text wrap around the circle
        width: 15rem;
        height: 15rem;
        float: left;
        shape-outside: content-box circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        translate: -3rem 0;
    }

    &__image {
        // image within the shape
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        transition: all .5s;
    }

    &__caption {
        // center image caption on the image
        @include absolute-center;

        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        translate: 0 75%;
        opacity: 0;
        transition: all .5s;
    }

    &:hover &__caption {
        // when story hovered, display the image caption
        opacity: 1;
        translate: 0;
    }

    &:hover &__image {
        // when story hovered, decrease scale of image and apply a blur and decrease brightness
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }
}
