*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    overflow-x: hidden;
}

html {
    // global definition setting for 1rem
    font-size: 62.5%;   // 1rem = 10px

    @include respond(big-desktop) {
        font-size: 75%;   // 1rem = 12px
    }

    @include respond(tab-land) {
        font-size: 56.25%;   // 1rem = 9px
    }

    @include respond(tab-port) {
        font-size: 50%;   // 1rem = 8px
    }

    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}

// scrollbar styles
@media (min-width: 31.25em) {  // 500px
    @include scrollbar-settings($scrollbar-width, $track-color, $thumb-color, $thumb-border-color);
}
