*,
*::before,
*::after {
    // resetting browser defaults
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    // no horizontal scroll on page
    overflow-x: hidden;
}

html {
    // global definition setting for 1rem
    font-size: 62.5%;   // 1rem = 10px

    @include respond(big-desktop) {
        font-size: 75%;   // 1rem = 12px
    }

    @include respond(tab-land) {
        font-size: 56.25%;   // 1rem = 9px
    }

    @include respond(tab-port) {
        font-size: 50%;   // 1rem = 8px
    }

    // adding smooth scroll to page, when nav links are clicked they will smooth scroll
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    // page by default has some padding
    padding: 3rem;

    @include respond(tab-port) {
        // removing padding from page on device width <= 900px
        padding: 0;
    }
}

::selection {
    // adding custom color when area of the page such as text is selected
    background-color: $color-primary;
    color: $color-white;
}

// styles from custom scrollbar, only on devices of width >= 500px
@media (min-width: 31.25em) {  // 500px
    @include scrollbar-settings($scrollbar-width, $track-color, $thumb-color, $thumb-border-color);
}
