// styles for each section of the website
.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(tab-port) {
        // reduce padding on width <= 900px
        padding: 22rem 0;
    }
}

.section-features {
    // skew section to give similiar effect to hero section
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)),
        url(../../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -11rem;

    & > * {
        // counter skew every child element
        transform: skewY(7deg);
    }

    @include respond(tab-port) {
        // reduce padding on width <= 900px
        padding: 15rem 0;
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -12vh;

    @include respond(tab-port) {
        // reduce padding on width <= 900px
        padding: 22rem 0 12rem 0;
    }
}

.section-stories {
    position: relative;
    padding: 15rem 0;

    @include respond(tab-port) {
        // reduce padding on width <= 900px
        padding: 12rem 0;
    }
}

.section-book {
    // styles for the booking section
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

    @include respond(tab-port) {
        // reduce padding on width <= 900px
        padding: 12rem 0;
    }
}

.book {
    // gradient effect on background of the form
    background-image:  linear-gradient(105deg,
        rgba($color-white, .9) 0%,
        rgba($color-white, .9) 50%,
        transparent 50%),
        url(../../img/nat-10.jpg);
    background-size: 100%;
    border-radius: $border-radius;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

    @include respond(tab-land) {
        // change gradient effect on device width <= 1200px
        background-image:  linear-gradient(105deg,
        rgba($color-white, .9) 0%,
        rgba($color-white, .9) 65%,
        transparent 65%),
        url(../../img/nat-10.jpg);
        background-size: cover;
    }

    @include respond(tab-port) {
        // change gradient effect on device width <= 900px
        background-image:  linear-gradient(to right,
        rgba($color-white, .9) 0%,
        rgba($color-white, .9) 100%),
        url(../../img/nat-10.jpg);
    }

    &__form {
        // styles for the form itself
        width: 50%;
        padding: 6rem;

        @include respond(tab-land) {
            width: 65%;
        }

        @include respond(tab-port) {
            width: 100%;
        }
    }
}
